html,
body {
    /* background-color: #050b13; -- dark blue, for reference*/
    background-color: #181818;
    font-family: 'Fira Code', monospace;
    padding: 20px;
    color: rgb(240, 242, 255);
    height: 100vh;
    display: grid;
    grid-template-rows: 15vh 75vh 10vh;
    grid-template-columns: auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
    /* font-family: 'Oswald', sans-serif;
    font-family: 'Rubik Mono One', sans-serif; */
}

a {
    color: inherit;
    transition: color .4s ease-out;
}

a:visited {
    color: inherit;
    transition: color .4s ease-out;
}

#page-header {
    text-align: left;
    vertical-align: middle;
    grid-area: header;
}

#page-header > h2 {
    color: #40FF40;
}

#page-footer {
    grid-area: footer;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
    width: 100%;
}

#page-content {
    grid-area: main;
}

pre code {
    background-color: inherit;

    display: inline-block;
    padding: 20px 40px 20px 40px;
    border-radius: 7px;
    
    font-family: 'Fira Code', monospace;
    font-size: 11pt;
    white-space: pre-wrap;

    transition: background .6s ease-in;
}

pre code:hover {
    background-color: #050b13;
    transition: background .6s ease-in;
}

#main div {
    padding-left: 20px;
}

hr.section-header {
    display: block;
    max-width: 80px;
    margin-top: -15px;
    margin-left: 20px;
    border: 1px solid;
    color: inherit;
    border-radius: 1px;
}

.under {
    border-bottom: 3px solid;
    text-decoration: none;
    padding-right: 20px;
}

/* Side-by-side columns */

.container {
    display: flex;
}

.container > div {
    background-color: #050b13;
    flex: 1;
    padding: 0 20px 0 20px;
    margin-right: 20px;
    border-radius: 5px;
}

.container > div > h3 {
    text-align: center;
}

.cactusdev:hover {
    color: #83bf4f;
    transition: color .4s ease-out;
}

/* Social links */

.github-purple:hover {
    color: #6f42c1;
}

.gitlab-orange:hover {
    color: #fc6d26;
}

.twitter-blue:hover {
    color: #1da1f2;
}

/* Give some icon padding when in a social link*/
a.social .la {
    margin-right: 10px;
}

/* Fancy animaty stuff, only blink 10 times to avoid being annoying */
.blink {
    animation: blink-anim 1.3s steps(5, start) 10;
    -webkit-animation: blink-anim 1.3s steps(5, start) 10;
}

@keyframes blink-anim {
    to {
        visibility: hidden;
    }
}