/* My personal CSS */

header {
	display: block;
	background-color: #3560e0;
	opacity: 0.6;
	max-height: 60px;
	text-align: center;
	position: fixed;
	width: 100%;
	z-index: 9999;
}

span .top-bar h1 {
	padding-top: 15px;
}

span .move {
	display: block;
}

span .downArrow {
	display: inline-block;
	margin-top: auto;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	padding-bottom: 5px;
	max-height: 70%;
	max-width: 70%;
	width: auto;
	height: auto;
}

.light {
	color: #e3e3e3;
}

header p .light {
	color: #eee;
}
