{{ define "main" }}
<main id="404-main">
    <div>
        <pre>
 _________________________________________
/ Oh, hello there!                        \
| You kinda look lost...                   |
\ Maybe try going back <a href="/">home</a>?              /
 -----------------------------------------
        \    ,-^-.
         \   !oYo!
          \ /./=\.\______
               ##        )\/\
                ||-----w||
                ||      ||

               Cowth Vader
        </pre>
    </div>
</main>
{{ end }}
